/*! Tablets */
@media screen and (max-width: 780px) {
    .logo-max{
        display: none;
    }

    .logo-min{
        display: block;
        text-align: start;
        margin: 0;
        
    }
    nav ul {
        gap: 1rem; 
    }

    .hero {
        padding: 4rem 1rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .bio-content {
        flex-direction: column;
        text-align: center;
    }

    .tech-card{
        width: 40vw;
    }

    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


/*!  Móviles */
@media screen and (max-width: 480px) {
    nav {
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        align-items: end;
        gap: 0.5rem;
        margin-right: 0;
    }
    
    nav ul li {
        width: 100%;
        text-align: center;
    }

    section {
        padding: 1rem 1rem;
    }

    .hero h1 {
        font-size: 1.75rem;
    }

    .tech-card{
        flex-basis: 100%;
    }

    .project-card {
        margin: 0 1rem;
    }

    .contact {
        margin-bottom: 0;
        max-width: 90vw;
    }

    footer{
        margin-top: 1rem;
    }
    
}